In [3]:
library(dplyr)
library(tidyverse)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v forcats   1.0.0     v readr     2.1.5
v ggplot2   3.4.2     v stringr   1.5.0
v lubridate 1.9.3     v tibble    3.2.1
v purrr     1.0.2     v tidyr     1.3.1
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [1]:
counties <- readRDS('counties.rds')

head(counties)

  census_id state   county  region metro    population men   women hispanic
1 1001      Alabama Autauga South  Metro     55221     26745 28476 2.6
2 1003      Alabama Baldwin South  Metro    195121     95314 99807 4.5
3 1005      Alabama Barbour South  Nonmetro  26932     14497 12435 4.6
4 1007      Alabama Bibb    South  Metro     22604     12073 10531 2.2
5 1009      Alabama Blount  South  Metro     57710     28512 29198 8.6
6 1011      Alabama Bullock South  Nonmetro  10678      5660  5018 4.4
  white ... other_transp work_at_home mean_commute employed private_work
1 75.8  ... 1.3          1.8          26.5         23986    73.6
2 83.1  ... 1.4          3.9          26.4         85953    81.5
3 46.2  ... 1.5          1.6          24.1          8597    71.8
4 74.5  ... 1.5          0.7          28.8          8294    76.8
5 87.9  ... 0.4          2.3          34.9         22189    82.0
6 22.2  ... 1.7          2.8          27.5          3865    79.5
  public_work self_employed family_work unemployment land_area
1 20.9        5.5           0.0          7.6          594.44
2 12.3        5.8           0.4          7.5         1589.78
3 20.8        7.3           0.1         17.6          884.88
4 16.1        6.7           0.4          8.3          622.58
5 13.5        4.2           0.4          7.7          644.78
6 15.1        5.4           0.0         18.0          622.81

In [4]:
glimpse(counties)

Rows: 3,138
Columns: 40
$ census_id          <chr> "1001", "1003", "1005", "1007", "1009", "1011", "10~
$ state              <chr> "Alabama", "Alabama", "Alabama", "Alabama", "Alabam~
$ county             <chr> "Autauga", "Baldwin", "Barbour", "Bibb", "Blount", ~
$ region             <chr> "South", "South", "South", "South", "South", "South~
$ metro              <chr> "Metro", "Metro", "Nonmetro", "Metro", "Metro", "No~
$ population         <dbl> 55221, 195121, 26932, 22604, 57710, 10678, 20354, 1~
$ men                <dbl> 26745, 95314, 14497, 12073, 28512, 5660, 9502, 5627~
$ women              <dbl> 28476, 99807, 12435, 10531, 29198, 5018, 10852, 603~
$ hispanic           <dbl> 2.6, 4.5, 4.6, 2.2, 8.6, 4.4, 1.2, 3.5, 0.4, 1.5, 7~
$ white              <dbl> 75.8, 83.1, 46.2, 74.5, 87.9, 22.2, 53.3, 73.0, 57.~
$ black              <dbl> 18.5, 9.5, 46.7, 21.4, 1.5, 70.7, 43.8, 20.3, 40.3,~
$ native             <dbl> 0.4, 0.6, 0.2, 0.4, 0.3, 1.2, 0.1, 0.2, 0.2, 0.6, 0~
$ asian              <dbl> 1.0, 0.7, 0.4, 0.1, 0.1, 0.2, 0.4, 0.9, 0.8, 0.3, 0~
$ pacific            <dbl> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0~
$ citizens           <dbl> 40725, 147695, 20714, 17495, 42345, 8057, 15581, 88~
$ income             <dbl> 51281, 50254, 32964, 38678, 45813, 31938, 32229, 41~
$ income_err         <dbl> 2391, 1263, 2973, 3995, 3141, 5884, 1793, 925, 2949~
$ income_per_cap     <dbl> 24974, 27317, 16824, 18431, 20532, 17580, 18390, 21~
$ income_per_cap_err <dbl> 1080, 711, 798, 1618, 708, 2055, 714, 489, 1366, 15~
$ poverty            <dbl> 12.9, 13.4, 26.7, 16.8, 16.7, 24.6, 25.4, 20.5, 21.~
$ child_poverty      <dbl> 18.6, 19.2, 45.3, 27.9, 27.2, 38.4, 39.2, 31.6, 37.~
$ professional       <dbl> 33.2, 33.1, 26.8, 21.5, 28.5, 18.8, 27.5, 27.3, 23.~
$ service            <dbl> 17.0, 17.7, 16.1, 17.9, 14.1, 15.0, 16.6, 17.7, 14.~
$ office             <dbl> 24.2, 27.1, 23.1, 17.8, 23.9, 19.7, 21.9, 24.2, 26.~
$ construction       <dbl> 8.6, 10.8, 10.8, 19.0, 13.5, 20.1, 10.3, 10.5, 11.5~
$ production         <dbl> 17.1, 11.2, 23.1, 23.7, 19.9, 26.4, 23.7, 20.4, 24.~
$ drive              <dbl> 87.5, 84.7, 83.8, 83.2, 84.9, 74.9, 84.5, 85.3, 85.~
$ carpool            <dbl> 8.8, 8.8, 10.9, 13.5, 11.2, 14.9, 12.4, 9.4, 11.9, ~
$ transit            <dbl> 0.1, 0.1, 0.4, 0.5, 0.4, 0.7, 0.0, 0.2, 0.2, 0.2, 0~
$ walk               <dbl> 0.5, 1.0, 1.8, 0.6, 0.9, 5.0, 0.8, 1.2, 0.3, 0.6, 1~
$ other_transp       <dbl> 1.3, 1.4, 1.5, 1.5, 0.4, 1.7, 0.6, 1.2, 0.4, 0.7, 1~
$ work_at_home       <dbl> 1.8, 3.9, 1.6, 0.7, 2.3, 2.8, 1.7, 2.7, 2.1, 2.5, 1~
$ mean_commute       <dbl> 26.5, 26.4, 24.1, 28.8, 34.9, 27.5, 24.6, 24.1, 25.~
$ employed           <dbl> 23986, 85953, 8597, 8294, 22189, 3865, 7813, 47401,~
$ private_work       <dbl> 73.6, 81.5, 71.8, 76.8, 82.0, 79.5, 77.4, 74.1, 85.~
$ public_work        <dbl> 20.9, 12.3, 20.8, 16.1, 13.5, 15.1, 16.2, 20.8, 12.~
$ self_employed      <dbl> 5.5, 5.8, 7.3, 6.7, 4.2, 5.4, 6.2, 5.0, 2.8, 7.9, 4~
$ family_work        <dbl> 0.0, 0.4, 0.1, 0.4, 0.4, 0.0, 0.2, 0.1, 0.0, 0.5, 0~
$ unemployment       <dbl> 7.6, 7.5, 17.6, 8.3, 7.7, 18.0, 10.9, 12.3, 8.9, 7.~
$ land_area          <dbl> 594.44, 1589.78, 884.88, 622.58, 644.78, 622.81, 77~

In [ ]:
counties %>%
    select(state, county, population, poverty)

     state     county      population poverty
1    Alabama   Autauga      55221     12.9
2    Alabama   Baldwin     195121     13.4
3    Alabama   Barbour      26932     26.7
4    Alabama   Bibb         22604     16.8
5    Alabama   Blount       57710     16.7
6    Alabama   Bullock      10678     24.6
7    Alabama   Butler       20354     25.4
8    Alabama   Calhoun     116648     20.5
9    Alabama   Chambers     34079     21.6
10   Alabama   Cherokee     26008     19.2
11   Alabama   Chilton      43819     19.1
12   Alabama   Choctaw      13395     23.4
13   Alabama   Clarke       25070     24.7
14   Alabama   Clay         13537     16.7
15   Alabama   Cleburne     15002     17.0
16   Alabama   Coffee       50884     17.1
17   Alabama   Colbert      54444     17.4
18   Alabama   Conecuh      12865     33.8
19   Alabama   Coosa        11027     19.3
20   Alabama   Covington    37886     20.2
21   Alabama   Crenshaw     13938     16.7
22   Alabama   Cullman      80965     18.5
23   Alabama   Dale         49866     19.1
24   Alabama   Dallas       42154     35.0
25   Alabama   DeKalb       71068     18.7
26   Alabama   Elmore       80763     13.6
27   Alabama   Escambia     37935     24.2
28   Alabama   Etowah      103766     19.7
29   Alabama   Fayette      16896     18.3
30   Alabama   Franklin     31634     22.5
...  ...       ...         ...        ...
3109 Wisconsin Washburn     15700     13.1
3110 Wisconsin Washington  132921      5.6
3111 Wisconsin Waukesha    393873      5.3
3112 Wisconsin Waupaca      52125     10.4
3113 Wisconsin Waushara     24321     10.3
3114 Wisconsin Winnebago   169004     12.0
3115 Wisconsin Wood         74012     11.0
3116 Wyoming   Albany       37565     26.9
3117 Wyoming   Big Horn     11895     12.1
3118 Wyoming   Campbell     48013      7.2
3119 Wyoming   Carbon       15739     15.3
3120 Wyoming   Converse     14101      9.4
3121 Wyoming   Crook         7229      5.0
3122 Wyoming   Fremont      40755     14.2
3123 Wyoming   Goshen       13544     17.9
3124 Wyoming   Hot Springs   4809     10.7
3125 Wyoming   Johnson       8600      6.3
3126 Wyoming   Laramie      95431     10.1
3127 Wyoming   Lincoln      18316      7.9
3128 Wyoming   Natrona      80011     10.7
3129 Wyoming   Niobrara      2516     14.9
3130 Wyoming   Park         28985      7.2
3131 Wyoming   Platte        8750     16.1
3132 Wyoming   Sheridan     29738      8.3
3133 Wyoming   Sublette     10117      8.1
3134 Wyoming   Sweetwater   44772     11.5
3135 Wyoming   Teton        22311      7.4
3136 Wyoming   Uinta        20930     13.7
3137 Wyoming   Washakie      8400     13.8
3138 Wyoming   Weston        7152     14.1

In [7]:
counties_selected <- counties %>%
    select(state, county, population, private_work, public_work, self_employed)

In [11]:
counties_selected %>% arrange(desc(public_work))

     state        county                     population private_work
1    Hawaii       Kalawao                       85      25.0
2    Alaska       Yukon-Koyukuk Census Area   5644      33.3
3    Wisconsin    Menominee                   4451      36.8
4    North Dakota Sioux                       4380      32.9
5    South Dakota Todd                        9942      34.4
6    Alaska       Lake and Peninsula Borough  1474      42.2
7    California   Lassen                     32645      42.6
8    South Dakota Buffalo                     2038      48.4
9    South Dakota Dewey                       5579      34.9
10   Texas        Kenedy                       565      51.9
11   North Dakota Rolette                    14498      44.3
12   Arizona      Apache                     72124      50.2
13   Alaska       Bethel Census Area         17776      53.2
14   Utah         Daggett                      776      47.7
15   Alaska       Nome Census Area            9854      50.6
16   New Mexico   Mora                        4660      50.7
17   Alaska       Northwest Arctic Borough    7732      54.0
18   Montana      Big Horn                   13141      47.7
19   Nevada       Lincoln                     5194      50.1
20   South Dakota Jackson                     3237      34.1
21   New Mexico   Harding                      565      46.3
22   Montana      Roosevelt                  11072      45.0
23   California   Sierra                      3021      45.0
24   Georgia      Calhoun                     6489      53.2
25   South Dakota Ziebach                     2833      40.9
26   South Dakota Corson                      4149      36.1
27   Washington   Ferry                       7652      52.4
28   Texas        Brewster                    9235      49.2
29   South Dakota Mellette                    2086      37.3
30   New Mexico   Catron                      3583      50.3
...  ...          ...                        ...        ...
3109 North Dakota Steele                       1979     72.8
3110 Pennsylvania Chester                    509797     85.9
3111 Pennsylvania Lehigh                     356756     87.0
3112 Wisconsin    Ozaukee                     87273     85.5
3113 Indiana      Dubois                      42291     87.1
3114 Iowa         Carroll                     20629     81.5
3115 Missouri     Taney                       53555     82.8
3116 Illinois     Edwards                      6649     85.8
3117 Pennsylvania Wyoming                     28147     85.1
3118 Wisconsin    Waukesha                   393873     87.4
3119 Michigan     Allegan                    112837     85.2
3120 Nebraska     Colfax                      10522     83.3
3121 Pennsylvania Lancaster                  530216     84.7
3122 Wisconsin    Washington                 132921     87.7
3123 Pennsylvania Montgomery                 812970     86.2
3124 Arkansas     Benton                     238198     85.9
3125 Iowa         Winnebago                   10614     84.3
3126 Indiana      Elkhart                    200685     87.5
3127 Indiana      Gibson                      33668     88.0
3128 Michigan     Kent                       622590     87.3
3129 Pennsylvania Elk                         31370     87.1
3130 Indiana      Bartholomew                 79488     87.8
3131 Illinois     Jersey                      22625     86.6
3132 Indiana      Clinton                     32835     87.5
3133 Nebraska     Dakota                      20798     87.3
3134 Indiana      Kosciusko                   77983     88.3
3135 Indiana      Spencer                     20856     86.3
3136 Indiana      LaGrange                    38084     84.1
3137 Nebraska     McPherson                     433     69.4
3138 Ohio         Holmes                      43436     81.3
     public_work self_employed
1    64.1        10.9
2    61.7         5.1
3    59.1         3.7
4    56.8        10.2
5    55.0         9.8
6    51.6         6.1
7    50.5         6.8
8    49.5         1.8
9    49.2        14.7
10   48.1         0.0
11   46.6         8.7
12   45.0         4.7
13   44.8         2.0
14   44.1         8.1
15   44.0         5.2
16   43.9         5.2
17   43.7         2.1
18   43.2         8.7
19   43.1         6.6
20   43.1        21.5
21   42.9        10.7
22   42.8        11.3
23   42.3         9.7
24   42.3         4.4
25   41.7        16.6
26   40.8        21.5
27   40.6         6.4
28   40.4         9.0
29   39.9        22.4
30   39.7         8.3
...  ...         ...
3109 8.5         18.1
3110 8.5          5.5
3111 8.5          4.4
3112 8.5          5.7
3113 8.4          4.4
3114 8.4         10.0
3115 8.4          8.8
3116 8.3          5.9
3117 8.3          6.4
3118 8.3          4.2
3119 8.2          6.4
3120 8.2          8.3
3121 8.2          6.8
3122 8.2          4.1
3123 8.1          5.5
3124 8.0          5.9
3125 7.9          7.5
3126 7.7          4.6
3127 7.7          4.2
3128 7.7          4.9
3129 7.7          4.9
3130 7.6          4.5
3131 7.5          5.8
3132 7.5          4.9
3133 7.3          5.2
3134 6.9          4.7
3135 6.9          6.7
3136 6.6          8.7
3137 5.9         23.9
3138 5.8         12.3

In [12]:
counties_selected <- counties %>% select(state, county, population)

In [15]:
counties_selected %>% 
    filter(state == "California", population > 1000000) %>%
    arrange(desc(population))

  state      county         population
1 California Los Angeles    10038388
2 California San Diego       3223096
3 California Orange          3116069
4 California Riverside       2298032
5 California San Bernardino  2094769
6 California Santa Clara     1868149
7 California Alameda         1584983
8 California Sacramento      1465832
9 California Contra Costa    1096068

In [16]:
counties_selected <- counties %>% select(state, county, population, public_work)

In [19]:
counties_selected %>%
    mutate(public_workers = population * public_work / 100) %>%
    arrange(desc(public_workers))

     state        county          population public_work public_workers
1    California   Los Angeles     10038388   11.5        1154414.6
2    Illinois     Cook             5236393   11.5         602185.2
3    California   San Diego        3223096   14.8         477018.2
4    Arizona      Maricopa         4018143   11.7         470122.7
5    Texas        Harris           4356362   10.1         439992.6
6    New York     Kings            2595259   14.4         373717.3
7    California   San Bernardino   2094769   16.7         349826.4
8    California   Riverside        2298032   14.9         342406.8
9    California   Sacramento       1465832   21.8         319551.4
10   California   Orange           3116069   10.2         317839.0
11   New York     Queens           2301139   13.6         312954.9
12   New York     Suffolk          1501373   18.1         271748.5
13   Texas        Bexar            1825502   14.8         270174.3
14   Florida      Miami-Dade       2639042   10.2         269182.3
15   Washington   King             2045756   12.4         253673.7
16   Maryland     Prince George's   892816   27.2         242846.0
17   Virginia     Fairfax          1128722   21.5         242675.2
18   Texas        Dallas           2485003    9.5         236075.3
19   New York     Nassau           1354612   16.4         222156.4
20   Maryland     Montgomery       1017859   21.7         220875.4
21   California   Alameda          1584983   13.8         218727.7
22   Texas        Tarrant          1914526   11.4         218256.0
23   Nevada       Clark            2035572   10.7         217806.2
24   Hawaii       Honolulu          984178   22.1         217503.3
25   New York     Bronx            1428357   14.8         211396.8
26   Florida      Broward          1843152   11.3         208276.2
27   Pennsylvania Philadelphia     1555072   13.0         202159.4
28   Arizona      Pima              998537   18.3         182732.3
29   Ohio         Franklin         1215761   14.8         179932.6
30   Texas        Travis           1121645   16.0         179463.2
...  ...          ...             ...        ...         ...
3109 Nebraska     Rock            1401       14.4        201.744
3110 Montana      Wheatland       2115        9.5        200.925
3111 Texas        Glasscock       1180       17.0        200.600
3112 Texas        McMullen         778       25.6        199.168
3113 Mississippi  Issaquena       1291       15.4        198.814
3114 Montana      Carter          1227       16.0        196.320
3115 Idaho        Clark            901       21.5        193.715
3116 Montana      Golden Valley    756       23.2        175.392
3117 North Dakota Sheridan        1337       13.0        173.810
3118 North Dakota Billings         969       17.6        170.544
3119 North Dakota Steele          1979        8.5        168.215
3120 Nebraska     Hooker           681       23.6        160.716
3121 Nebraska     Banner           820       19.1        156.620
3122 Nebraska     Thomas           675       22.3        150.525
3123 Nebraska     Wheeler          847       16.8        142.296
3124 Colorado     Mineral          733       18.8        137.804
3125 Nebraska     Logan            851       14.0        119.140
3126 Nebraska     Keya Paha        711       16.6        118.026
3127 South Dakota Jones            781       14.7        114.807
3128 Nebraska     Loup             548       19.5        106.860
3129 North Dakota Slope            673       15.5        104.315
3130 Montana      Treasure         812       12.4        100.688
3131 Montana      Petroleum        443       22.0         97.460
3132 Nebraska     Blaine           551       17.1         94.221
3133 Nebraska     Grant            769       12.2         93.818
3134 Nebraska     Arthur           448       17.1         76.608
3135 Colorado     San Juan         606       11.3         68.478
3136 Texas        King             267       21.1         56.337
3137 Hawaii       Kalawao           85       64.1         54.485
3138 Nebraska     McPherson        433        5.9         25.547

In [21]:
counties_selected <- counties %>%
    select(state, county, population, men, women)

counties_selected

     state     county      population men    women
1    Alabama   Autauga      55221     26745  28476
2    Alabama   Baldwin     195121     95314  99807
3    Alabama   Barbour      26932     14497  12435
4    Alabama   Bibb         22604     12073  10531
5    Alabama   Blount       57710     28512  29198
6    Alabama   Bullock      10678      5660   5018
7    Alabama   Butler       20354      9502  10852
8    Alabama   Calhoun     116648     56274  60374
9    Alabama   Chambers     34079     16258  17821
10   Alabama   Cherokee     26008     12975  13033
11   Alabama   Chilton      43819     21619  22200
12   Alabama   Choctaw      13395      6382   7013
13   Alabama   Clarke       25070     11834  13236
14   Alabama   Clay         13537      6671   6866
15   Alabama   Cleburne     15002      7334   7668
16   Alabama   Coffee       50884     25174  25710
17   Alabama   Colbert      54444     26303  28141
18   Alabama   Conecuh      12865      6176   6689
19   Alabama   Coosa        11027      5579   5448
20   Alabama   Covington    37886     18339  19547
21   Alabama   Crenshaw     13938      6863   7075
22   Alabama   Cullman      80965     40081  40884
23   Alabama   Dale         49866     24708  25158
24   Alabama   Dallas       42154     19450  22704
25   Alabama   DeKalb       71068     35474  35594
26   Alabama   Elmore       80763     39362  41401
27   Alabama   Escambia     37935     19524  18411
28   Alabama   Etowah      103766     50207  53559
29   Alabama   Fayette      16896      8477   8419
30   Alabama   Franklin     31634     15311  16323
...  ...       ...         ...        ...    ...
3109 Wisconsin Washburn     15700       7799   7901
3110 Wisconsin Washington  132921      65880  67041
3111 Wisconsin Waukesha    393873     193441 200432
3112 Wisconsin Waupaca      52125      26378  25747
3113 Wisconsin Waushara     24321      12783  11538
3114 Wisconsin Winnebago   169004      85019  83985
3115 Wisconsin Wood         74012      36594  37418
3116 Wyoming   Albany       37565      19692  17873
3117 Wyoming   Big Horn     11895       6002   5893
3118 Wyoming   Campbell     48013      24914  23099
3119 Wyoming   Carbon       15739       8592   7147
3120 Wyoming   Converse     14101       7118   6983
3121 Wyoming   Crook         7229       3716   3513
3122 Wyoming   Fremont      40755      20358  20397
3123 Wyoming   Goshen       13544       7180   6364
3124 Wyoming   Hot Springs   4809       2394   2415
3125 Wyoming   Johnson       8600       4525   4075
3126 Wyoming   Laramie      95431      47911  47520
3127 Wyoming   Lincoln      18316       9356   8960
3128 Wyoming   Natrona      80011      40495  39516
3129 Wyoming   Niobrara      2516       1164   1352
3130 Wyoming   Park         28985      14230  14755
3131 Wyoming   Platte        8750       4495   4255
3132 Wyoming   Sheridan     29738      14695  15043
3133 Wyoming   Sublette     10117       5353   4764
3134 Wyoming   Sweetwater   44772      23359  21413
3135 Wyoming   Teton        22311      11537  10774
3136 Wyoming   Uinta        20930      10636  10294
3137 Wyoming   Washakie      8400       4144   4256
3138 Wyoming   Weston        7152       3695   3457

In [22]:
counties_selected %>%
    mutate(proportion_women = women / population)

     state     county      population men    women  proportion_women
1    Alabama   Autauga      55221     26745  28476  0.5156734
2    Alabama   Baldwin     195121     95314  99807  0.5115134
3    Alabama   Barbour      26932     14497  12435  0.4617184
4    Alabama   Bibb         22604     12073  10531  0.4658910
5    Alabama   Blount       57710     28512  29198  0.5059435
6    Alabama   Bullock      10678      5660   5018  0.4699382
7    Alabama   Butler       20354      9502  10852  0.5331630
8    Alabama   Calhoun     116648     56274  60374  0.5175742
9    Alabama   Chambers     34079     16258  17821  0.5229320
10   Alabama   Cherokee     26008     12975  13033  0.5011150
11   Alabama   Chilton      43819     21619  22200  0.5066295
12   Alabama   Choctaw      13395      6382   7013  0.5235536
13   Alabama   Clarke       25070     11834  13236  0.5279617
14   Alabama   Clay         13537      6671   6866  0.5072025
15   Alabama   Cleburne     15002      7334   7668  0.5111318
16   Alabama   Coffee       50884     25174  25710  0.5052669
17   Alabama   Colbert      54444     26303  28141  0.5168797
18   Alabama   Conecuh      12865      6176   6689  0.5199378
19   Alabama   Coosa        11027      5579   5448  0.4940600
20   Alabama   Covington    37886     18339  19547  0.5159426
21   Alabama   Crenshaw     13938      6863   7075  0.5076051
22   Alabama   Cullman      80965     40081  40884  0.5049589
23   Alabama   Dale         49866     24708  25158  0.5045121
24   Alabama   Dallas       42154     19450  22704  0.5385966
25   Alabama   DeKalb       71068     35474  35594  0.5008443
26   Alabama   Elmore       80763     39362  41401  0.5126234
27   Alabama   Escambia     37935     19524  18411  0.4853302
28   Alabama   Etowah      103766     50207  53559  0.5161517
29   Alabama   Fayette      16896      8477   8419  0.4982836
30   Alabama   Franklin     31634     15311  16323  0.5159954
...  ...       ...         ...        ...    ...    ...
3109 Wisconsin Washburn     15700       7799   7901 0.5032484
3110 Wisconsin Washington  132921      65880  67041 0.5043673
3111 Wisconsin Waukesha    393873     193441 200432 0.5088747
3112 Wisconsin Waupaca      52125      26378  25747 0.4939472
3113 Wisconsin Waushara     24321      12783  11538 0.4744048
3114 Wisconsin Winnebago   169004      85019  83985 0.4969409
3115 Wisconsin Wood         74012      36594  37418 0.5055667
3116 Wyoming   Albany       37565      19692  17873 0.4757886
3117 Wyoming   Big Horn     11895       6002   5893 0.4954182
3118 Wyoming   Campbell     48013      24914  23099 0.4810989
3119 Wyoming   Carbon       15739       8592   7147 0.4540949
3120 Wyoming   Converse     14101       7118   6983 0.4952131
3121 Wyoming   Crook         7229       3716   3513 0.4859593
3122 Wyoming   Fremont      40755      20358  20397 0.5004785
3123 Wyoming   Goshen       13544       7180   6364 0.4698760
3124 Wyoming   Hot Springs   4809       2394   2415 0.5021834
3125 Wyoming   Johnson       8600       4525   4075 0.4738372
3126 Wyoming   Laramie      95431      47911  47520 0.4979514
3127 Wyoming   Lincoln      18316       9356   8960 0.4891898
3128 Wyoming   Natrona      80011      40495  39516 0.4938821
3129 Wyoming   Niobrara      2516       1164   1352 0.5373609
3130 Wyoming   Park         28985      14230  14755 0.5090564
3131 Wyoming   Platte        8750       4495   4255 0.4862857
3132 Wyoming   Sheridan     29738      14695  15043 0.5058511
3133 Wyoming   Sublette     10117       5353   4764 0.4708906
3134 Wyoming   Sweetwater   44772      23359  21413 0.4782677
3135 Wyoming   Teton        22311      11537  10774 0.4829008
3136 Wyoming   Uinta        20930      10636  10294 0.4918299
3137 Wyoming   Washakie      8400       4144   4256 0.5066667
3138 Wyoming   Weston        7152       3695   3457 0.4833613

In [26]:
counties %>%
    mutate(state, county, population, proportion_men = men/population, .keep = "none") %>%
    filter(population >= 10000) %>%
    arrange(desc(proportion_men))

     state          county                population proportion_men
1    Virginia       Sussex                11864      0.6852664
2    California     Lassen                32645      0.6683412
3    Georgia        Chattahoochee         11914      0.6664428
4    Louisiana      West Feliciana        15415      0.6635096
5    Florida        Union                 15191      0.6470937
6    Texas          Jones                 19978      0.6332966
7    Missouri       DeKalb                12782      0.6321389
8    Texas          Madison               13838      0.6249458
9    Virginia       Greensville           11760      0.6210034
10   Texas          Anderson              57915      0.6124320
11   Arkansas       Lincoln               14062      0.6112928
12   Texas          Bee                   32659      0.6038764
13   Florida        Hamilton              14395      0.6023619
14   Illinois       Lawrence              16665      0.5998800
15   Mississippi    Tallahatchie          14959      0.5954275
16   Mississippi    Greene                14129      0.5951589
17   Texas          Karnes                14879      0.5913704
18   Texas          Frio                  18168      0.5902136
19   Florida        Gulf                  15785      0.5850491
20   Florida        Franklin              11628      0.5847953
21   Texas          Walker                69330      0.5839319
22   Georgia        Telfair               16416      0.5788255
23   Colorado       Fremont               46809      0.5768762
24   Louisiana      Allen                 25653      0.5763069
25   Ohio           Noble                 14508      0.5761649
26   Georgia        Tattnall              25302      0.5742234
27   Louisiana      Claiborne             16639      0.5723902
28   Texas          Pecos                 15807      0.5695578
29   Missouri       Pulaski               53443      0.5686432
30   Texas          Howard                36105      0.5676776
...  ...            ...                   ...        ...
2408 South Carolina Greenwood             69771      0.4667699
2409 Virginia       Fredericksburg city   27395      0.4666180
2410 South Carolina Barnwell              22098      0.4656530
2411 Virginia       Bristol city          17524      0.4655330
2412 Alabama        Marengo               20306      0.4654782
2413 Georgia        Dougherty             93310      0.4654592
2414 Mississippi    Clay                  20279      0.4652596
2415 Virginia       Colonial Heights city 17515      0.4648587
2416 North Carolina Edgecombe             55280      0.4647793
2417 Georgia        Evans                 10814      0.4645829
2418 Arkansas       Desha                 12379      0.4637693
2419 Alabama        Perry                 10038      0.4633393
2420 Georgia        Early                 10579      0.4630872
2421 Virginia       Essex                 11151      0.4625594
2422 Mississippi    Coahoma               25254      0.4625406
2423 Alabama        Dallas                42154      0.4614034
2424 North Carolina Washington            12668      0.4600568
2425 Virginia       Petersburg city       32123      0.4598886
2426 South Carolina Marion                32167      0.4594149
2427 Virginia       Fluvanna              26014      0.4583686
2428 Alabama        Macon                 20018      0.4578879
2429 Virginia       Danville city         42450      0.4572674
2430 West Virginia  Summers               13544      0.4566598
2431 Missouri       Audrain               25783      0.4549509
2432 Virginia       Martinsville city     13624      0.4517763
2433 Virginia       Williamsburg city     14754      0.4517419
2434 Missouri       Livingston            15042      0.4512033
2435 Virginia       Staunton city         24193      0.4489315
2436 Alabama        Sumter                13341      0.4426205
2437 Georgia        Pulaski               11590      0.4198447